* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(65, 101, 12, 1) 35%,
            rgba(0, 24, 89, 1) 100%); */
    background: radial-gradient(circle at top left, #1a2a6c, #b21f1f, #fdbb2d);
    overflow: hidden;
}

h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
    text-align: center;
}

.container {
    width: 300px;
    height: 200px;
    display: inline-block;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(145deg, #6dd5ed, #2193b0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1.5s ease,
        background 1.5s ease,
        box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.text {
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
}

.subText {
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    opacity: 0.9;
}

.heading {
    height: 70px;
    color: #fff;
    text-align: center;
    vertical-align: top;
}

.name {
    height: 100px;
    background: #fff;
    font-size: 45px;
    text-align: center;
    overflow: hidden;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-transform: capitalize;
    transition: background 0.3s ease-in-out;
}