body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
}

button {
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.bag-button {
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
}

.bag-button:hover {
    background-color: rgba(45, 173, 45, 0.61);
    transform: scale(1.05);
}

.wishlist-button {
    padding: 5px 35px;
    background-color: white;
    border: 2px solid #ff3e6c;
    color: #ff3e6c;
}

.wishlist-button:hover {
    background-color: #ffe6ec;
    transform: scale(1.05);
}

#cart-summery {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}