.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(220px, 240px));
  gap: 40px;
  justify-content: center;
  padding: 0 40px 40px;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(4, minmax(220px, 240px));
  }
}

@media (max-width: 1050px) {
  .grid {
    grid-template-columns: repeat(3, minmax(220px, 240px));
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, minmax(220px, 240px));
  }
}

@media (max-width: 550px) {
  .grid {
    grid-template-columns: repeat(1, minmax(220px, 240px));
  }
}
